{% extends 'base.html.twig' %}

{% block title %}HB Toys{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Bienvenue Chez HB Toys</h1>
    <p>Rien de mieux que belle chanson pour l' arrivée du père Noël</p>
    <div class="col-8 text-center mx-auto">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/aAkMkVFwAoo?start=2"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</div>
{% endblock %}
