{% extends 'base.html.twig' %}

{% block title %}Éditer catégorie{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1>Éditer catégorie</h1>

        {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('category_index') }}">Retour a la liste</a>

        {{ include('category/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
